// buttons, inputs, etc.

.StatusIcon {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 10px 3px 5px;
  &--completed { color: $completed-color; border-color: $completed-color; }
  &--failed { color: $failed-color; border-color: $failed-color; }
  &--running { color: $running-color; border-color: $running-color; }
  &--pending { color: $pending-color; border-color: $pending-color; }
  &--slim {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    padding: 3px;
    border-radius: 16px;
  }
  &:not(.StatusIcon--slim):focus { outline: 0; }
  &:not(.StatusIcon--slim):hover,
  &:not(.StatusIcon--slim):active {
    border-color: $light-text-color;
    color: $text-color;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    text-transform: capitalize;
    text-decoration: none;
    &:focus { outline: 0; }
    &:hover,
    &:active {
      border-color: $light-text-color;
      color: $text-color;
    }
    span {
      line-height: 1em;
      font-size: 1em;
      margin-left: 6px;
    }
  }
}

.LastBuild,
.Duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  span {
    line-height: 1em;
    font-size: 1em;
    margin-left: 6px;
  }
}

.Button {
  display: inline-block;
  border: 1px solid $border-color;
  color: $light-text-color;
  border-radius: 5px;
  padding: 3px 5px;
  min-width: 50px;
  font-size: .7em;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  font-size: .875em;
  &:focus { outline: 0; }
  &:hover,
  &:active,
  &--active {
    border-color: $light-text-color;
    color: $text-color;
  }
  &__badge {
    padding: 4px 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    background-color: hsla(0, 0%, 0%, 0.07);
    border-radius: 10px;
    margin-left: 6px;
  }
}

.Metric {
  display: flex;
  flex-direction: row;
  &__value {
    font-size: 3em;
    text-align: center;
    min-width: 20%;
  }
  &__text {
    margin-left: 6px;
    display: flex;
    align-self: center;
    text-transform: uppercase;
  }
}

.Codeblock {
  margin: 0 auto 2vh auto;
  background-color: $text-color;
  color: $background-color;
  padding: 2vw 2vh;
  width: 100%;
  font-size: .875em;
  p { margin: 0px; }
}