// bigger elements like tables, grids, etc.

.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $background-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $background-color;
}

.table {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  font-size: .875em;
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5vh 0;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    animation: height 1s ease-in-out, padding 1s ease-in-out;
    &--deleting {
      height: 0;
      padding: 0;
    }
    &--header {
      span {
        color: $light-text-color;
        margin: 10px 0;
      }
    }
    &__cell {
      padding: 0 1%;
      &--status { width: 20%; }
      &--executors { width: 50%; }
      &--duration { width: 20%; font-size: .875em; }
      &--cta { width: 10%; text-align: center; }
      &--label { width: 20%; color: $light-text-color; }
      &--value { width: 80%; }
    }
  }
}
