// nav + sidebar + main

.App {
  background-color: #ece8e836;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: $text-color;
  header {
    height: 10vh;
    display: flex;
  }
  main {
    width: 90vw;
    margin: 0 auto;
    min-height: 90vh;
    height: auto;
  }
  .flex-grid,
  .container,
  .table {
    margin: 2vh 0;
    border: 1px solid $border-color;
  }
  .container {
    border: 0;
    &--center {
      text-align: center;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 1vw;
}